name: Style Check

on:
  push:
     branches:
       - main
  pull_request:
     branches:
       - main

  workflow_dispatch:

jobs:
  lint:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run styles & lint check
        run: |
          pip install .[testing]
          ruff format --check jumpax/ tests/ examples/
          ruff check jumpax/ tests/ examples/
          pyright jumpax/